<div class="container card d-grid gap-3">
    <div class="row p-2 bg-light border card-header">
        @if (string.IsNullOrWhiteSpace(CoverImage) == false)
        {
            <div class="col-lg-2">
                <img src="@CoverImage.ToString()" class="img-fluid">
            </div>
        }
        <div class="card-title col-lg-10">
            <div class="card-text p-2 bg-light border text-md-center fw-bold">
                @Title
            </div>
            <div class="card-body" @onclick=onClickGetSlug style="cursor: pointer; cursor: hand;">
                @Brief
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? Brief { get; set; }
    [Parameter] public string? CoverImage { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Body { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> onClickGetSlug { get; set; }
}
