@using System.Globalization
<div class="card text-center">
    <div class="card-header">
        <h5>
            @DayOfTheWeek
        </h5>
        <h6>
            @DayDatetime
        </h6>
    </div>

    <div class="card-body">
        <img src="@IconUrl" />
        <h4 class="card-title">@Description</h4>
        <b>@((int)HighTemp) C&deg;</b> /
        @((int)LowTemp) C&deg;
    </div>
</div>


@code {
    [Parameter] public long Seconds { get; set; }
    [Parameter] public double HighTemp { get; set; }
    [Parameter] public double LowTemp { get; set; }
    [Parameter] public string? Description { get; set; }
    [Parameter] public string? Icon { get; set; }    
    private string? DayOfTheWeek;
    private string? DayDatetime;
    private string? IconUrl;
    protected override void OnInitialized()
    {
        DayOfTheWeek = DateTimeOffset
        .FromUnixTimeSeconds(Seconds)
        .LocalDateTime
        .ToLocalTime().ToString("dddd", CultureInfo.InvariantCulture);

        DayDatetime = DateTimeOffset
        .FromUnixTimeSeconds(Seconds)
        .LocalDateTime
        .ToLocalTime().ToString("dd MMMM yyyy", CultureInfo.InvariantCulture);

        IconUrl = String.Format("https://openweathermap.org/img/wn/{0}@2x.png", Icon);
    }
}	