<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Codetopg's journey</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blog">
                <span class="oi oi-book" aria-hidden="true"></span> Blog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-cloudy" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="mt-5">
            <img class="img-fluid rounded-circle d-block mx-auto"
                 src="https://www.gravatar.com/avatar/31793858d3a0ca4af25a1feb8b50a498?s=200"
                 alt="Avatar">
            <h2 class="text-light text-center">Tom Dinh</h2>
            <div class="social-links mt-1 text-center">
                <a href="https://twitter.com/codetopg" target="_blank">
                    <i class="bi-twitter"></i>
                </a>
                <a href="https://www.facebook.com/codetopg" target="_blank">
                    <i class="bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/codetopg/" target="_blank">
                    <i class="bi-instagram"></i>
                </a>
                <a href="https://stackoverflow.com/users/6716449" target="_blank">
                    <i class="bi-stack-overflow"></i>
                </a>
                <a href="https://github.com/codetopg" target="_blank">
                    <i class="bi-github"></i>
                </a>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
